@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
 

#addedShowsTable tbody tr td:first-child {
  text-align: left;
}
 
 #addedShowsTable tbody tr td:first-child span {
    text-transform: uppercase;
    font-weight: bold;
    color: #3977e3;
    font-size: 32px;
    font-family: Impact;
    margin-right: 15px;
}

#addedShowsTable tbody tr td:first-child button {
  font-weight: bold;
  font-family: Impact;
  margin-left: 15px;
  cursor: pointer;
}

#addedShowsTable tbody tr td:first-child button:hover {
  color: #ed1536;
  transition: color 0.5s 0s ease;
}

#addedShowsTable tbody tr td:last-child button {
  font-weight: bold;
  font-family: 'Franklin Gothic Medium';
  margin: 5px 0 0 15px;
  cursor: pointer;
}

#addedShowsTable tbody tr td:last-child button:hover {
  color: #ed1536;
  transition: color 0.5s 0s ease;
}

  .flipswitch {
    margin: 10px 0 0 25%;
    position: relative;
    width: 83px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
  }
  .flipswitch input[type=checkbox] {
    display: none;
  }
  .flipswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 50px;
  }
  .flipswitch-inner {
    width: 200%;
    margin-left: -100%;
    -webkit-transition: margin 0.3s ease-in 0s;
    -moz-transition: margin 0.3s ease-in 0s;
    -ms-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
  }
  .flipswitch-inner:before, .flipswitch-inner:after {
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 24px;
    font-size: 18px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .flipswitch-inner:before {
    content: "ON";
    padding-left: 12px;
    background-color: #359917;
    color: #FFFFFF;
    text-align: left;
  }
  .flipswitch-inner:after {
    content: "OFF";
    padding-right: 12px;
    background-color: #EBEBEB;
    color: #888888;
    text-align: right;
  }
  .flipswitch-switch {
    width: 29px;
    margin: -2.5px;
    background: #FFFFFF;
    border: 2px solid #999999;
    border-radius: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
  }
  .flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
    margin-left: 0;
  }
  .flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
    right: 0;
  }