form {
    border-radius: 15px 15px 15px 15px;
    padding: 25px;
    text-align: center;
    background-color: rgba(237, 237, 237, 0.5);
    background-color: hsla(0, 0%, 93%, 0.5);
    width: 500px;
  }
