.showsTableHeading{ 
    position: relative; 
} 

.showsTableMessage{ 
    display: none; 
    position: absolute;  
    z-index: 100; 
    border: 1px; 
    background-color: white; 
    border: 1px solid green; 
    padding: 3px; 
    color: green;  
    top: -60px;  
    left: 0px;
    width: 200px
} 
.showsTableHeading:hover span.showsTableMessage{ 
    display:block; 
} 

