.userShowsContainer {
    margin-top: 10px;
    text-align: center;
    background: linear-gradient(to bottom, sandybrown, chocolate);
    height: 50px;
    position: relative;
    margin-bottom: 10px;  
}

.userShowsContainer h1:first-child {
    margin: 0 auto;
    font-family: 'Sigmar One';
    color: #ff052f;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: .25em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.userShowsContainer h1:last-child {
    margin: 0 auto;
    font-family: 'Sigmar One';
}

#addedShowsTable {
    margin-top: 7px;
}

#addedShowsTable th {
    background-color: #4ECDC4;
    font-family: 'Sigmar One';
    text-align: center;
    font-size: 24px;
    color: #395870;
}

.showsTableHeading{ 
    position: relative; 
    margin-left: 10px;
} 

.showsTableMessage{ 
    display: none; 
    position: absolute;  
    z-index: 100; 
    border: 1px; 
    background-color: white; 
    border: 1px solid green; 
    padding: 3px; 
    color: green;  
    top: 0px;  
    left: -200px;
    width: 200px
} 

.showsTableHeading:hover span.showsTableMessage { 
    display: block; 
} 